

.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }




    .tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
      background: white;
 ;
	  }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
.tag {
    z-index: 1;
    position: absolute;
    color: #FFF;
    float: right;
    font-weight: bold;
    right: 344px;
    top: 10px;
}
@media(min-width:360px) and (max-width:767px){
.tag {
    z-index: 1;
    position: absolute;
    color: #FFF;
    float: right;
    font-weight: bold;
    right: 38px;
    top: 400px;
}
}
@media(min-width:768px) and (max-width:1023px){
.tag {
    z-index: 1;
    position: absolute;
    color: #FFF;
    float: right;
    font-weight: bold;
    right: 23px;
    top: 10px;
}
}
@media(min-width:1024px) and (max-width:1279px){
.tag {
    z-index: 1;
    position: absolute;
    color: #FFF;
    float: right;
    font-weight: bold;
    right: 21px;
    top: 10px;
}
}
@media(min-width:1280px) and (max-width:1919px){
.tag {
    z-index: 1;
    position: absolute;
    color: #FFF;
    float: right;
    font-weight: bold;
    right: 230px;
    top: 10px;
}
}
.img_width {
    height: 774px !important;
}
@media(min-width:360px) and (max-width:767px){
.img_width {
    height: 356px !important;
}
}
@media(min-width:768px) and (max-width:1023px){
.img_width {
    height: 480px !important;
    margin-left: -79px;
    width: 760px;
}
}
@media(min-width:1024px) and (max-width:1279px){
.img_width {
    height: 780px !important;
    margin-left: -173px;
    width: 1024px;
}
}

#image {
  position: absolute;

}
.top{
	top:0px;
}
.md-datepicker-calendar-pane {
    
    width: 342px;
}
@media(min-width:360px) and (max-width:767px){
.md-datepicker-calendar-pane {
    width: 320px;
    margin-left: -90px;
}
}
.logo_img {
    width: 220px;
}


.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }
.checkboxdemoBasicUsage .checkboxDemo1 md-checkbox {
  float: left; }
.checkboxdemoBasicUsage p {
  padding-left: 8px; }
.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }
.checkboxdemoBasicUsage legend {
  color: #3F51B5; }
.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }
.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }

.pad_wed{
    padding: 0px;
}